[submodule "html/kirby"]
	path = html/kirby
	url = https://github.com/getkirby/kirby.git
[submodule "html/panel"]
	path = html/panel
	url = https://github.com/getkirby/panel.git
[submodule "site/fields/markdown"]
	path = site/fields/markdown
	url = https://github.com/JonasDoebertin/kirby-visual-markdown.git
[submodule "site/plugins/icons"]
	path = site/plugins/icons
	url = https://github.com/ThiesHagedorn/KirbyIconPlugin.git
[submodule "site/plugins/blade"]
	path = site/plugins/blade
	url = https://github.com/pedroborges/kirby-blade-template.git
